*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

:root{
    /* color */
    --bg-color:hsl(0, 0%, 9%);
    --text-color:hsl(0, 0%, 96%);
    --bg-task-color:hsl(0, 0%, 30%);
    --bg-button-color:hsl(60, 1%, 17%);
    --bg-button-addtask:hsl(96, 90%, 52%);
    --delete-button-color:hsl(0, 74%, 58%);

    /* padding */
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:25px;

    /* Border radius */
    --radius-s:10px;
    --radius-m:15px;
    --radius-l:15px;

    --gap-l:15px;
    --gap-xl:20px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    position:sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    padding:var(--padding-m) var(--padding-xl); 
    background-color: var(--bg-color); 
}
.nav button{
    color:var(--text-color);
    background-color: var(--bg-button-color);
    padding:var(--padding-m) var(--padding-xl);
    border:none;
    outline: none;
    cursor: pointer;
    border-radius:var(--radius-s);
}
.board{
    padding: var(--padding-xxl);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--gap-xl);
}
.board .task-column{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-button-color);
    flex-grow: 1;
    width: 100%;
    padding: var(--padding-m);
    border-radius: var(--radius-m); 
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.board .task-column.hover-over{
    border: 2px dashed var(--text-color);
    scale: 1.05;
    
}
.board .task-column .heading{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding: var(--padding-m);
}
.board .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    cursor: grab;
    margin-bottom:var(--padding-l);
}
.board .task-column .task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    outline: none;
    border: none;
    border-radius: var(--radius-s);
    background-color: var(--delete-button-color);
    color: var(--text-color);
}

/* modal style */
.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.active{
    display: flex;
}
.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(153, 0, 255, 0.187);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.modal .center{
    background-color: var(--bg-task-color);
    padding: var(--padding-l);
    border-radius: var(--radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    z-index: 2;

}
.modal .center input, .modal .center textarea{
    background-color: var(--bg-button-color);
    color: var(--text-color);
    padding: var(--padding-m);
    outline: none;
    border: none;
    border-radius: var(--radius-s);
}
.modal .center button{
    background-color: var(--bg-button-addtask);
    padding: var(--padding-s);
    outline: none;
    border: none;
    border-radius: var(--radius-s);
}

@Media(max-Width : 420px){
    .board{
        display: flex;
        flex-direction: column;

    }
}
